<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>SUFeedURL</key>
	<string>https://github.com/wakatime/macos-wakatime/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>6I/0TFjR4Fwf/dRPerG9McAsG5czi7yNBgW6usORg+g=</string>
	<key>SUAllowsAutomaticUpdates</key>
	<string>YES</string>
	<key>SUEnableAutomaticChecks</key>
	<string>YES</string>
	<key>LSUIElement</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wakatime</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
