name: Release

on:
  pull_request:
    types: [opened, reopened, ready_for_review, synchronize]
  push:
    branches: [main, release]
    tags-ignore: "**"

jobs:
  test:
    name: Tests and Build
    runs-on: macos-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Install xcodegen via Homebrew for linting and building xcode project
        run: brew install xcodegen
      -
        name: Generate project
        run: xcodegen
      -
        name: Build app to run linters
        run: xcodebuild

  version:
    name: Version
    concurrency: tagging
    if: ${{ github.ref == 'refs/heads/release' || github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    needs: [test]
    outputs:
      semver: ${{ steps.format.outputs.semver }}
      semver_tag: ${{ steps.semver-tag.outputs.semver_tag }}
      ancestor_tag: ${{ steps.semver-tag.outputs.ancestor_tag }}
      is_prerelease: ${{ steps.semver-tag.outputs.is_prerelease }}
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      -
        name: Calculate semver tag
        id: semver-tag
        uses: wakatime/semver-action@master
        with:
          prerelease_id: alpha
          develop_branch_name: main
          main_branch_name: release
      -
        name: Format
        id: format
        run: |
          echo "${{ steps.semver-tag.outputs.semver_tag }}"
          ver=`echo "${{ steps.semver-tag.outputs.semver_tag }}" | sed 's/^v//'`
          echo "$ver"
          echo "semver=$ver" >> $GITHUB_OUTPUT
      -
        name: Create tag
        uses: actions/github-script@v6
        with:
          github-token: ${{ github.token }}
          script: |
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: "refs/tags/${{ steps.semver-tag.outputs.semver_tag }}",
              sha: context.sha
            })

  sign:
    name: Sign Apple app
    needs: [version]
    runs-on: macos-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Update project.yml
        uses: fjogeleit/yaml-update-action@main
        with:
          valueFile: 'project.yml'
          propertyPath: 'targets.WakaTime.settings.MARKETING_VERSION'
          value: ${{ needs.version.outputs.semver }}
          commitChange: false
      -
        name: Install xcodegen via Homebrew for linting and building xcode project
        run: brew install xcodegen
      -
        name: Generate project
        run: xcodegen
      -
        name: Build app
        run: xcodebuild -configuration Release
      -
        name: Temporarily move helper outside app
        run: mv build/Release/WakaTime.app/Contents/Library/LoginItems/WakaTime\ Helper.app ./WakaTime\ Helper.app
      -
        name: Import Code-Signing Certificates
        uses: Apple-Actions/import-codesign-certs@v1
        with:
          # The certificates in a PKCS12 file encoded as a base64 string
          p12-file-base64: ${{ secrets.APPLE_DEVELOPER_CERTIFICATE_P12_BASE64 }}
          # The password used to import the PKCS12 file.
          p12-password: ${{ secrets.APPLE_DEVELOPER_CERTIFICATE_PASSWORD }}
      -
        name: Codesign
        run: |
          /usr/bin/codesign --force -s "WakaTime" --options runtime WakaTime\ Helper.app -v
          /usr/bin/codesign --verify --deep --strict --verbose=2 WakaTime\ Helper.app
          /usr/bin/codesign --force -s "WakaTime" --options runtime build/Release/WakaTime.app -v
          /usr/bin/codesign --verify --deep --strict --verbose=2 build/Release/WakaTime.app
      -
        name: Notarize helper
        env:
          NOTARIZATION_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
          NOTARIZATION_APPLE_ID: ${{ secrets.AC_USERNAME }}
          NOTARIZATION_PWD: ${{ secrets.AC_PASSWORD }}
        run: |
          ditto -c -k --keepParent "WakaTime Helper.app" helper.zip
          xcrun altool --notarize-app --primary-bundle-id "macos-wakatime.WakaTimeHelper" --apple-id "$NOTARIZATION_APPLE_ID" --team-id "$NOTARIZATION_TEAM_ID" --password "$NOTARIZATION_PWD" --file helper.zip
          xcrun stapler staple "WakaTime Helper.app"
      -
        name: Notarize app bundle
        env:
          NOTARIZATION_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
          NOTARIZATION_APPLE_ID: ${{ secrets.AC_USERNAME }}
          NOTARIZATION_PWD: ${{ secrets.AC_PASSWORD }}
        run: |
          ditto -c -k --keepParent build/Release/WakaTime.app main.zip
          xcrun altool --notarize-app --primary-bundle-id "macos-wakatime.WakaTime" --apple-id "$NOTARIZATION_APPLE_ID" --team-id "$NOTARIZATION_TEAM_ID" --password "$NOTARIZATION_PWD" --file main.zip
          xcrun stapler staple build/Release/WakaTime.app
      -
        name: Move helper back into app
        run: mv ./WakaTime\ Helper.app build/Release/WakaTime.app/Contents/Library/LoginItems/WakaTime\ Helper.app
      -
        name: Zip
        run: ditto -c -k --sequesterRsrc --keepParent build/Release/WakaTime.app WakaTime.zip
      -
        name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: app
          path: ./WakaTime.zip
      -
        name: Remove tag if failure
        if: ${{ failure() }}
        uses: actions/github-script@v6
        with:
          github-token: ${{ github.token }}
          script: |
            github.rest.git.deleteRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: "tags/${{ needs.version.outputs.semver_tag }}"
            })

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [version, sign]
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      -
        # Run only for main branch
        if: ${{ github.ref == 'refs/heads/main' }}
        name: Changelog for main
        uses: gandarez/changelog-action@v1.2.0
        id: changelog-main
        with:
          current_tag: ${{ github.sha }}
          previous_tag: ${{ needs.version.outputs.ancestor_tag }}
          exclude: |
            ^Merge pull request .*
      -
        # Run only for release branch
        if: ${{ github.ref == 'refs/heads/release' }}
        name: Get related pull request
        uses: 8BitJonny/gh-get-current-pr@2.2.0
        id: changelog-release
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Prepare changelog
        id: changelog
        run: |
          echo "${{ steps.changelog-main.outputs.changelog || steps.changelog-release.outputs.pr_body }}" > changelog.txt
          ./bin/prepare_changelog.sh $(echo ${GITHUB_REF#refs/heads/}) "$(cat changelog.txt)"
      -
        name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          name: app
          path: ./
      -
        name: "Create release"
        uses: softprops/action-gh-release@master
        with:
          name: ${{ needs.version.outputs.semver_tag }}
          tag_name: ${{ needs.version.outputs.semver_tag }}
          body: "## Changelog\n${{ steps.changelog.outputs.changelog }}"
          prerelease: ${{ needs.version.outputs.is_prerelease }}
          target_commitish: ${{ github.sha }}
          draft: false
          files: ./WakaTime.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Remove tag if failure
        if: ${{ failure() }}
        uses: actions/github-script@v6
        with:
          github-token: ${{ github.token }}
          script: |
            github.rest.git.deleteRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: "tags/${{ needs.version.outputs.semver_tag }}"
            })
